.header {
  width: 100%;
}

.header img {
  margin-bottom: 0;
}
.seperator {
  width: 100%;
  background-color: #888b8D;
  
  color: white;
  padding-left: 15px;
  font-size: 4vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1.6em;
  padding-bottom: 2vh;
}

.project_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-template-rows: 30% 30% 30%;
}
.project_card{
    margin: 10px auto;
    border: 1px #999 solid;
    box-shadow: 3px 3px 2px #999;
    padding: 10px;
    width: 250px;
    height: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parcoords > canvas {
  font: 11px sans-serif;
  position: absolute;
}
.parcoords > canvas {
  pointer-events: none;
}
.parcoords text.label { 
  font-size: 12px; 
  color: "#999999"; 
}
.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}
.parcoords canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.parcoords canvas.faded {
  opacity: 0.25;
}
.parcoords {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

.tick text {
  font-size: 11px;
}